@use "sass:color";

$primary-color: rgba(7, 104, 172, 1);
$primary-color-hover: color.adjust($primary-color, $lightness: -10%);
$secondary-color: rgba(241, 245, 249, 1);
$secondary-color-hover: color.adjust($secondary-color, $lightness: -10%);
$contrast-color: rgba(2, 6, 23, 1);
$contrast-color-hover: color.adjust($contrast-color, $lightness: -10%);
$selected-color: rgba(243, 247, 251, 1);
$border-color: rgba(226, 232, 240, 1);
$text-primary: rgba(51, 65, 85, 1);
$text-secondary: rgba(100, 116, 139, 1);
$warning-background-color: rgba(254, 252, 232, 0.95);
$warning-border-color: rgba(254, 240, 138, 1);
$warning-color: rgba(202, 138, 4, 1);
$error-background-color: rgba(254, 202, 202, 0.95);
$error-border-color: rgba(254, 202, 202, 1);
$error-color: rgba(220, 38, 38, 1);
$success-background-color: rgba(167, 243, 208, 0.95);
$success-border-color: rgba(167, 243, 208, 1);
$success-color: rgba(5, 150, 105, 1);
$info-background-color: rgba(191, 219, 254, 0.95);
$info-border-color: rgba(191, 219, 254, 1);
$info-color: rgba(3, 105, 161, 1);

$radius: 6px;

$size-lg: 16px;
$size-md: 12px;
$size-sm: 8px;

$icon-size-lg: 42px;

$font-family: 'Inter', sans-serif;
$font-size-lg: 16px;
$font-size-md: 14px;
$font-size-sm: 12px;
$font-size-badge: 10.5px;

